aiofiles
aioshutil
aiohttp
anytree
apscheduler
aria2p
asyncio
cloudscraper
dnspython
feedparser
flask==2.2.2
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn==20.1.0
httpx
lxml
motor
natsort
pillow
psutil
pycryptodome
pymongo
git+https://github.com/5hojib/pyrogram-peer-fix.git
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
urllib3
uvloop
xattr
yt-dlp
